@charset "utf-8";
/* CSS Document */
.sLogin
{
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	font-weight: bold;
	
}

.sStatus
{
	font-family: Verdana;
	font-weight: bold;
	display: inline-block;
	font-size: large; 
}


.BotaoAzul {
	-moz-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	box-shadow:inset 0px 0px 0px 0px #bbdaf7;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background-color:#79bbff;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:3px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528ecc;
	width: 134px; 
	text-align:center;
}.BotaoAzul:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background-color:#378de5;
}.BotaoAzul:active {
	position:relative;
	top:1px;
}

 a.dcontexto{
	  position:relative;
	  font:12px arial, verdana, helvetica, sans-serif;
	  padding:0;
	  color:#000;
	  text-decoration:none;
	  border-bottom:2px dotted #039;
	  cursor:help;
	  z-index:400px;
	  font-weight:bold;
 }
 
 a.dcontexto:hover{
	  background:transparent;
	  z-index:55;
 }
 
 a.dcontexto span{
	  display:none;
 }
 
 a.dcontexto:hover span{
	  display:block;
	  position:absolute;
	  width:500px;
	  top:2em;
	  text-align:justify;
	  left:-7em;
	  font: 12px arial, verdana, helvetica, sans-serif;
	  padding:5px 10px;
	  border:1px solid #999;
	  background:#000000;
	  color:#FFF;
	  font-weight:bold
}
